:root{
    --color1: #1137b1;
    --color2: #fff;
    --navColor: #010f22;
    --color4: #6bbaa3;
    --color5: #5dbfc9;
    --color6: #e5a4ae;
    --color7: #2c2b2cac;
    --titrekely: #6ac1c9;
    --shadow: #dfe2df;
    --dimProfile: 45px;
    --dimHovering: 60px;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    outline: none;
    list-style: none;
    text-decoration: none;
    transition: .3s;
}

.nav{
    grid-area: nav;
    background: var(--navColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 30px;
    width: 65px;
    position: relative; 
}

.nav ul li{
    z-index: 3;
}
  
.nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 65%;
}
  
.nav a{
    color: #fff;
    font-size: 1.2rem;
}
  
.nav .ambany{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25%;
}
  
.nav .ambany p{
    background: url(../assets/img/user.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: var(--dimProfile);
    height: var(--dimProfile);
    border-radius: 50%;
}

.nav .Active{
    z-index: 3;
    transform: translateX(40%);
}

.nav .Active > a{
    font-size: 30px;
}

/******Hovering****/
.indi{
    min-width: var(--dimHovering);
    min-height: var(--dimHovering);
    background: var(--navColor);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 15.5%;
    left: 30%;
    /* transform: translateY(-65px); */
}

/* Logo */
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.logo p{
    background: var(--navColor);
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    font-size: 2.7rem;
    color: red;
}